#!/usr/bin/env bash
SCRIPT_DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"
NODE_VERSION="$(cat "$SCRIPT_DIR/.nvmrc")"
NVM_BIN=/usr/local/opt/nvm/nvm.sh

function main() {
  export NVM_DIR="$HOME/.nvm"
  [ -s "$NVM_BIN" ] && . "$NVM_BIN"

  if ! is_node_version_installed; then
    echo "RUN: Install $NODE_VERSION"
    install_missing_nvm
    echo "RUN COMPLETE: Install $NODE_VERSION"
  else
    echo "SKIP: install.  node $NODE_VERSION is already installed"
  fi

  nvm use
}

function is_node_version_installed() {
  nvm list | grep -q $NODE_VERSION
}


function install_missing_nvm() {
  nvm install $NODE_VERSION
}

main "$@"
